<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
     <meta http-equiv="refresh" content="6; URL=http://127.0.0.1:8000/devices/{{device.id}}/map/">

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
	      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  	<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
	</div>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
  var center = {lat: {{device.center_lat}}, lng: {{device.center_lon}}};
  var locations = [
    ['center_name', {{device.center_lat}}, {{device.center_lon}}],
    ['{{device.device_name}}', {{device.device_lat}}, {{device.device_lon}}]
  ];
var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 20,
    center: center
  });
var infowindow =  new google.maps.InfoWindow({});
var marker, count;
for (count = 0; count < locations.length; count++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[count][1], locations[count][2]),
      map: map,
      title: locations[count][0]
    });
google.maps.event.addListener(marker, 'click', (function (marker, count) {
      return function () {
        infowindow.setContent(locations[count][0]);
        infowindow.open(map, marker);
      }
    })(marker, count));
  }
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;callback=initMap"
    async defer></script>
  </body>
</html>